@import "../../variables";

.button {
  padding: 1rem 3rem;
  border-radius: .4rem;
  background-color: $main;
  color: white;
  font-size: 1.6rem;
  text-transform: capitalize;
  letter-spacing: 0.06rem;
  transition: all .3s ease;
  cursor: pointer;
  border: 0;
  font-weight:400;

  &:hover{
    background-color: #fff;
    color:$main;
    box-shadow: 0 0 0 0.1rem $main;
  }

  &--danger{
    background-color: $error;
  }

  &--outlined {
    background-color:white;
    color:$main;
    border:.15rem solid $main;
    box-shadow: 0;

    &:hover{
      color:#fff;
      background-color: $main;
      
    }
  }
}