@import "../../variables";

.error--big {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100rem;
  gap: 5rem;
  flex-direction: column;

  .message {
    display: flex;
    font-size: min(7vw, 4rem);
    color: $error;
  }
}

.error--small {
  .message {
    display: flex;
    font-size: 1.6rem;
    color: $error;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .error {
    .message {
      font-size: 3rem;
    }
  }
}
