@import "../../variables";

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: $backdrop-gradient;
  z-index: 1111;
}

.modal-overlay {
  position: fixed;
  left: 50%;
  top: 5vh;
  width: 90%;
  max-width: 70rem;
  transform: translate(0, -50%);
  background-color: #fff;
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: $card-shadow;
  z-index: 2000;
  animation: slide-down 300ms ease-out forwards;
  overflow: scroll;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(-50%, -3rem);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
